@{
    ViewData["Title"] = "Sub Operation";
}

<div>
<<<<<<< HEAD
    <h1>Resultado da Subtração</h1>
    <p>A subtração de @Model.NumberOne - @Model.NumberTwo é igual a @(Model.NumberOne - Model.NumberTwo)</p>
=======
    <h1>Resultado da Subtrair</h1>
    <p>A subtração de @ViewBag.NumberOne - @ViewBag.NumberTwo é igual a @ViewBag.Result</p>
>>>>>>> 3d42094a8cba8d1b05c08086cef828fc8efeebdd
</div>